* {
  transition: 0.2s;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font: 14px "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  background: radial-gradient(#EDEFF2 4px, transparent 5px), #F2F3F6;
  background-size: 35px 35px;

  #connections {
    display: none;
  }

  #canvas {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .information {
    display: flex;
    justify-content: space-between;
    padding: 35px;

    #status {
      font-weight: 700;
      font-size: 22px;
      margin: 0;

      .num-connected {
        display: inline-block;
        color: white;
        border-radius: 50%;
        width: 30px;
        margin-right: 5px;
        padding: 5px;
        background-color: #2CA900;
        text-align: center;
      }
    }

    .settings {
      height: 200px;
      width: 75px;
      background-color: white;
      border-radius: 999999px;
      overflow: hidden;

      .settings-profile {
        position: relative;
        left: -4px;
        top: -4px;
        width: 75px;
        height: 75px;
        margin: 0;
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        line-height: 75px;
        border: #F2F3F6 4px solid;
        border-radius: 9999px;
      }

      .settings-options {
        position: relative;
        top: -5px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        > hr {
          margin: 0;
          border: #D0D4E0 solid 1px;
        }
        > .settings-button {
          cursor: pointer;
          pointer-events: auto;
          height: 59px;
          text-align: center;
          border: none;
          background-color: transparent;
          &#logout-button {
            > svg {
              margin-top: 2px;
            }
          }
          > svg {
            transition: 0.05s;
            margin-top: calc((59px - 37px) / 2);
            width: 37px;
            height: 37px;
            fill: #110D25;
            &:hover {
              fill: #2259FF;
            }
            &:active {
              transition: 0.2s;
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}
